.Travel_mainDiv{
    border: 1px solid lightgray;
}

.Travel_mainDiv img{
    width: 100%;
}

.Travel_mainDiv h5{
    margin: 20px;
}

.filme_head{
    font-size: 20px;
    padding: 6px 22px;
    border-radius: 10px;
    border-bottom: 15px;
}

.filmehead i{
    float: right;
}

.conquistas_text span{
color: orange;
}